body {
    background-color: beige;
}

h1 {
    color: cornflowerblue;
    transition: color .5s ease-in-out
}

/* 어떤 element든지, className이 active이면 오랜지색으로 */
.clicked {
    color: tomato;
}

.sexy-font{
    font-family: 'Courier New', Courier, monospace;
}